.card mb-3 {
    position: static;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Yarý þeffaf karartma */
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
}
.container{
    background-color:fuchsia;
}

